[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

certifi = "==2017.11.5"
coverage = "==4.4.2"
dj-database-url = "==0.4.2"
django = "==1.11.3"
"django-bootstrap4" = "==0.0.4"
django-extensions = "==1.9.7"
django-filter = "==1.1.0"
django-resized = "==0.3.8"
django-widget-tweaks = "==1.4.1"
djangorestframework = "==3.7.7"
faker = "==0.8.8"
gunicorn = "==19.7.1"
markdown = "==2.6.11"
olefile = "==0.44"
pillow = "==4.3.0"
"psycopg2" = "==2.7.3.2"
python-dateutil = "==2.6.1"
pytz = "==2017.3"
selenium = "==3.7.0"
text-unidecode = "==1.1"
typing = "==3.6.2"
whitenoise = "*"


[dev-packages]

