{% load static %}<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
			{% block title %}
			 Receipts Organizer
      {% endblock title %}
    </title>
    <!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/main.css" %}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/responsive.css" %}">
    <!--Fonts-->
    <link rel="stylesheet" media="screen" href="{% static "assets/fonts/font-awesome/font-awesome.min.css" %}">
    <link rel="stylesheet" media="screen" href="{% static "assets/fonts/simple-line-icons.css" %}">    
     
    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/extras/owl/owl.carousel.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/extras/owl/owl.theme.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/extras/animate.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/extras/normalize.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/extras/settings.css" %}">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/colors/green.css" %}" media="screen" >       
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
    </script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
    </script>
    <![endif]-->
  </head>
  <body>

  <!-- Header area wrapper starts -->
    <header id="header-wrap">

      <!-- Roof area starts -->
      
      <!-- Roof area Ends -->

      <!-- Header area starts -->
      <section id="header">

        <!-- Navbar Starts -->
        <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
          <div class="container">
            <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
              ☰
            </button>
            <!-- Brand -->
            <a class="navbar-brand" href="#">
							<img style="heigth: 50px" src="{% static "assets/img/logo2.png" %}" alt="logo">
            </a>
            <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
              <!-- Navbar Starts -->
							{% if user.is_authenticated %}
              <ul class="nav nav-inline">
                <li class="nav-item dropdown">
									<a class="nav-link active" href="{% url 'categories' %}" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>                  
                </li> 
								<li class="nav-item dropdown">
									<a class="nav-link active" href="{% url 'home' %}" role="button" aria-haspopup="true" aria-expanded="false">Receipts</a>                  
                </li> 
                 <!-- Search in right of nav -->
                <li class="nav-item" class="search">
                  <form class="top_search clearfix">
                    <div class="top_search_con">
                      <input class="s" placeholder="Search Here ..." type="text">
                      <span class="top_search_icon"><i class="icon-magnifier"></i></span>
                      <input class="top_search_submit" type="submit">
                    </div>
                  </form>
                </li>
                <!-- Search Ends -->    
                          
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ user.username }}
                  </a>
                  <div class="dropdown-menu">                      
                    <a class="dropdown-item" href="#">My Account</a>
                    <a class="dropdown-item" href="#">Reset Password</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    <a class="dropdown-item" href="#">Contact us 2</a>
                  </div> 
                </li>          
             
                <!-- Search Ends -->                  
              </ul>  
            </div>              
              <!-- Form for navbar search area -->
              <form class="full-search">
                <div class="container">
                  <input type="text" placeholder="Type to Search">
                  <a href="#" class="close-search">
                    <span class="fa fa-times fa-2x">
                    </span>
                  </a>
                </div>
              </form>
              <!-- Search form ends -->
							{% else %}
							 <ul class="nav nav-inline">
                <li class="nav-item dropdown">
									<a class="nav-link active" href="{% url 'signup' %}" role="button" aria-haspopup="true" aria-expanded="false">SignUp</a>                  
                </li>
								 <li class="nav-item dropdown">
									<a class="nav-link active" href="{% url 'login' %}" role="button" aria-haspopup="true" aria-expanded="false">LogIn</a>                  
                </li>
							</ul>
							{% endif %}

          </div>
        </nav>
        <!-- Navbar Ends -->

      </section> 
    <!-- Start Content -->

    <!-- End Content --> 
    </header>
    <!-- Header-wrap Section End -->
   
    <!-- Service Block-1 Section -->
	    <section id="service-block-main" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">        
				  <h1 class="section-title wow fadeIn animated" data-wow-delay=".2s">
           WHY CHOOSE US?
          </h1>
          <p class="section-subcontent">
					  <div class="col-sm-6 col-md-3">
					  {% block content %}
		        {% endblock content %}</p>
					  </div>
      </div><!-- Container Ends -->
    </section><!-- Service Main Section Ends -->


          <!-- Footer Widget Starts -->
          <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
            <h3 class="small-title">
              GALLERY
            </h3>
            <div class="plain-flicker-gallery">
              <a href="#" title="Pan Masala"><img src="img/flicker/img1.jpg" alt=""></a>
              <a href="#" title="Sports Template for Joomla"><img src="img/flicker/img2.jpg" alt=""></a>
              <a href="" title="Apple Keyboard"><img src="img/flicker/img3.jpg" alt=""></a>
              <a href="" title="Hard Working"><img src="img/flicker/img4.jpg" alt=""></a>
              <a href="" title="Smile"><img src="img/flicker/img5.jpg" alt=""></a>
              <a href="" title="Puzzle"><img src="img/flicker/img6.jpg" alt=""></a>
            </div>
          </div><!-- Footer Widget Ends -->

          <!-- Footer Widget Starts -->
          <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
            <h3 class="small-title">
              SUBSCRIBE US
            </h3>
            <div class="contact-us">
              <p>Tellus aliquam at. Pellentesque gravida vel eros et pretium</p>
              <form>
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
              </div>
              <button type="submit" class="btn btn-common">Submit</button>
            </form>
            </div>
          </div><!-- Footer Widget Ends -->
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
      
      <!-- Copyright -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <p class="copyright-text">
                ©  2016 Engage. All right reserved. Designed with by <a href="#">GrayGrids</a>
              </p>
            </div>
            <div class="col-md-6  col-sm-6">
              <ul class="nav nav-inline pull-xs-right">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sitemap</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Privacy Policy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Terms of services</a>
                </li>
              </ul>        
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright  End-->
      
    </footer>
    <!-- Footer Section End-->
    
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up">
      </i>
    </a>

    <div class="bottom"> <a href="#" class="settings"></a> </div>

    <!-- JavaScript & jQuery Plugins -->
    <!-- jQuery Load -->
    <script src="{% static "assets/js/jquery-min.js" %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <!--Text Rotator-->
    <script src="{% static "assets/js/jquery.mixitup.js" %}"></script>
    <!--WOW Scroll Spy-->
    <script src="{% static "assets/js/wow.js" %}"></script>
    <!-- OWL Carousel -->
    <script src="{% static "assets/js/owl.carousel.js" %}"></script>
 
    <!-- WayPoint -->
    <script src="{% static "assets/js/waypoints.min.js" %}"></script>
    <!-- CounterUp -->
    <script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
    <!-- ScrollTop -->
    <script src="{% static "assets/js/scroll-top.js" %}"></script>
    <!-- Appear -->
    <script src="{% static "assets/js/jquery.appear.js" %}"></script>
    <script src="{% static "assets/js/jquery.vide.js" %}"></script>
     <!-- All JS plugin Triggers -->
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "assets/js/color-switcher.js" %}"></script>
    
  </body>
</html>
