{% extends "base.html" %}

{% block title %}Category name here{% endblock title %}
{% block content %}
<div id="free-promo" style="text-align: center;
    margin-top: 60px;">
	<div class='container'>
		<div class="row">
		  <h1 class="section-title wow fadeIn animated"
        data-wow-delay=".2s">Category NAme here</h1>
			  <div class="section-subcontent">

		      <a href="#" class="btn btn-primary"> Create New Category</a>

          <p> delete category, add or modify a descrition, add or modify name, listing de touts les recepts
          de la category </p>		      
		    </div>
		</div>
	</div>
</div>
{% endblock content %}
