{% extends "base.html" %}

{% block content %}
<div id="free-promo" style="
    text-align: center;
    margin-top: 60px;">
      <div class="container">
          <div class="row text-center">
              <div class="error-page">
                <h1>Welcome to Receipts Organizer</h1> 
								<h2>Purchase Full Version to Get All Pages and Features</h2>
                <a href="#" class="btn btn-common btn-lg">Sign Up Now</a>
            </div>
          </div>
      </div>         
    </div>
  
  
{% endblock content %}
