{% extends "base.html" %}

{% block title %}Receipts{% endblock title %}
{% block content %}
<div id="free-promo">	
  <div class='container'>
		<div class="row">
		  <h1 class="section-title wow fadeIn animated"
        data-wow-delay=".2s">Receipts of {{ date_created|date:"F Y" }}</h1>
			  <div class="section-subcontent">

		      <a href="{% url 'new_receipt' %}" class="btn btn-common mb-10">Add a New
            Receipts</a>
          <h1>list of receipts </h1>
          <table>
            <thead class="table">
              <th>ID</th>
              <th>Name</th>
              <th>Amount</th>
              <th>Date created</th>
            </thead>
            <tbody>
              {% for receipt in receipts %}
              <tr>
                <td><a href={% url 'receipt_detail' pk=receipt.pk %}> {{ receipt.id }}</a></td>
                <td> {{ receipt.name }}</td>
                <td>{{ receipt.amount }}</td>
                <td>{{ receipt.date_created }}</td>
              </tr>
								{% empty %}
								<p> Nothing to Show</p>
                {% endfor %}
            </tbody>
          </table>
          
					
		    </div>
		</div>
	</div>
</div>
{% endblock content %}
