{% extends "base.html" %}

{% block title %}Receipts by month{% endblock title %}
{% block content %}
<div id="free-promo">
	<div class='container'>
		<div class="row">
		  <h1 class="section-title wow fadeIn animated"
        data-wow-delay=".2s">Receipts by Month</h1>
			  <div class="section-subcontent">

		      <a href="{% url 'new_receipt' %}" class="btn btn-common mb-10">Add a New
            Receipts</a>
          <h1>Pick up a Month:</h1>
          <h1>list des receitps </h1>
          
					
		      		    </div>
		</div>
	</div>
</div>
{% endblock content %}
