{% extends "base.html" %}

{% block content %}
<div id="free-promo" style="text-align: center;
    margin-top: 60px;">
      <div class="container">
          <div class="row">
                <h1 class="section-title wow fadeIn animated" data-wow-delay=".2s">Welcome to Receipts Organizer</h1> 
								<div class="section-subcontent">

								<h2>Purchase Full Version to Get All Pages and Features</h2>
								<a href="{% url 'signup' %}" class="btn btn-common btn-lg">Sign Up Now</a>

								</div>
          </div>
      </div>         
    </div>
{% endblock content %}
