{% extends "base.html" %}

{% block title %}RECEIPTS ARCHIVE{% endblock title %}
{% block content %}
<div id="free-promo">
	<div class='container'>
		<div class="row">
		  <h1 class="section-title wow fadeIn animated"
        data-wow-delay=".2s">Receipts</h1>
			  <div class="section-subcontent">

		      <a href="{% url 'new_receipt' %}" class="btn btn-common mb-10">Add a New
            Receipts</a>
          <h1>Pick up a Year:</h1>
          <ul>
            {% for y in years_available %}
						{% with y|date:"Y" as current_year %}
						<li><a href="{% url 'receipts_months' current_year %}">{{y|date:"Y"}}</a></li>
						{% endwith %}
						{% empty %}
						  <p>No Receipt Yet</p>
						{% endfor %}
          </ul>
					
		      		    </div>
		</div>
	</div>
</div>
{% endblock content %}
